.sidebarChannel {
  padding-left: 20px;
  margin-top: 10px;

  h4 {
    color: #999B9F;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color:#FFFFFF;
      background-color: #413F71;
      border-radius: 7px;
    }

    .sidebarChannelHash {
      font-size: 22px;
      padding-right: 10px;
    }
  }

}